@model TravelReviewProject.Models.Review

@{
    ViewBag.Title = "Full Review";
}

@*I decided to use panels to display my reviews*@

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">"@Html.DisplayFor(model => model.ReviewTitle)" by @Html.DisplayFor(model => model.UserName)</h3>
    </div>
    <div class="panel-body top-info">
        <p>Visited @Html.DisplayFor(model => model.NameOfPlace) in @Html.DisplayFor(model => model.LocationOfPlace) on @Html.DisplayFor(model => model.DateOfVisit)</p>
    </div>
    <div class="panel-body top-info2">
        <p>&bull; This @Html.DisplayFor(model => model.Category.CategoryName) was rated @Html.DisplayFor(model => model.Score.ReviewScore) out of 10 on @Html.DisplayFor(model => model.DateOfReview) &bull;</p>
    </div>
    <div class="panel-body detailed-review">
        <h3>@Html.DisplayFor(model => model.UserName) said:</h3>
        <p>@Html.DisplayFor(model => model.DetailedReview)</p>
    </div>
    <div class="panel-body bottom-info">
        <p>Are you @Html.DisplayFor(model => model.UserName)? If so, you may @Html.ActionLink("Edit", "Edit", new { id = Model.ReviewID }) this listing</p>
        <p>@Html.ActionLink("Back to Reviews List", "Index")</p>
    </div>
</div>